// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
 font-family: "Roboto", Helvetica, Arial, sans-serif;
 font-weight: 100;
 font-size: 15px;
 
 color: #777;
 
}



*{
    background:#F5EFE8;
}
.larger_outer{
    margin:0 auto;
    width:850px;
    background: white;
    padding: 10px 0 10px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.body{
    background:white;
    margin:30px auto;
    width:750px;
    text-align:center;
    border:1px #798340 solid;
    padding: 30px  10px 30px 10px ;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input[type='text']{
    width: 700px;
    background:white;
    padding:10px;
}

textarea{
    width: 700px;
    height: 200px;
    background:white;
    padding:10px;
    
}

input[type="submit"] {
  cursor: pointer;
  width: 700px;
  border: none;
  background: #798340;
  color: #B1B85F;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

.titleouter{
    background:white;
    margin:30px auto;
    padding: 30px 0 30px 0;
    width:700px;
    border:1px #798340 solid;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
}
.bamboo_title{
    background:white;
    color:#B1B85F;
    font-size:30px;
    padding: 0px 30px 0px 0px;
    text-align: center;
    
}

.logo_size{
    width:100px;
    height:100px;
}

// 인덱스

.main_wrapper {
margin: 3rem 0;

width: 700px;
color: black;    
}